<div class="container-fluid mt-3">

    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

        <h1 class="text-uppercase text-center"> <strong>Ubicación</strong> </h1>

        </div>
    </div>
    <!-- Fin del primer texto -->


    <!-- Inicio de imagen  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

        <img src="assets/images/maps_location/mapa_merida.png" class="img-fluid">

        </div>
    </div>
    <!-- Fin de imagen -->


    <!-- Inicio del segundo texto  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

            <h2 class="text-uppercase text-center">PRIVADA PENÍNSULA</h2>

            <p class="fs-5 text-center">Municipio de Progreso</p>

        </div>
    </div>
    <!-- Fin del segundo texto -->


    <!-- Inicio de lista puntos de interes  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-2 text-center">

            <p class="fs-5 text-center"> <strong>Puntos de Interés:</strong> </p>

            <ul>


                <li type="disc">A 7 min. del Puerto de Chuburná.</li>

                <li type="disc">A 15 minutos de la zona urbana de Mérida cerca de Universidades como la UVM, la Anáhuac Mayab y de principales Centros Comerciales como: Plaza The Harbor, Plaza Galerías y Plaza La Isla.</li>

                <li type="disc">A menos de 4 horas de la Riviera Maya (Cancún, Playa del Carmen, Tulum, Holbox).</li>

                <li type="disc">A 1.5 horas de Valladolid Pueblo Mágico.</li>

            </ul>

        </div>
    </div>
    <!-- Fin de lista puntos de interes -->


    <!-- Inicio de los botones de maps  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-2 text-center">

            <p class="fs-5 text-center"> <strong>Conoce la ubicación del desarrollo</strong> </p>

            <div class="container text-center">
                <div class="row">

                    <div class="col">
                        <button type="button" class="btn btn-outline-primary text-uppercase">Google Maps <i class="fas fa-map"></i></button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-outline-primary text-uppercase">Google Earth <i class="fas fa-globe-americas"></i></button>
                    </div>

                </div>
              </div>

        </div>
    </div>
    <!-- Fin de los botones de maps -->


</div>