
<div class="container-fluid mt-3">

    <!-- Inicio del carrusel de imagenes  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

        <img src="assets/images/property_home/cm-property-home.png" class="img-fluid">

      </div>
    </div>
    <!-- Fin del carrousel de imagenes -->


    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

        <h1 class="text-uppercase text-center">Ciudad Maderas Merida</h1>

        <h3 class="text-uppercase text-center">Inversión de bajo <strong>riesgo</strong> y alta <strong>Rentabilidad</strong></h3>

      </div>
    </div>
    <!-- Fin del segundo texto -->


    <!-- Inicio del boton brochure  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 mt-3 text-center">

        <button type="button" class="btn btn-outline-primary text-uppercase">Ver Brochure <i class="fas fa-file-pdf"></i></button>

        <p class="fs-2 text-center"></p>
      </div>
    </div>
    <!-- Fin del boton brochure -->


    <!-- Inicio de botones partes de la propiedad  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

        <div class="container text-center">
          <div class="row">

            <div class="col">
              <div class="col-menu">
                <div class="row mt-2">
                  <i class="fs-1 fas fa-map-marker-alt"></i>
                </div>
                <div class="row">
                  <p class="fs-2 text-center">Ubicación</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="col-menu">
                <div class="row mt-2">
                  <i class="fs-1 fas fa-seedling"></i>
                </div>
                <div class="row">
                  <p class="fs-2 text-center">Lote Tipo</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="col-menu">
                <div class="row mt-2">
                  <i class="fs-1 fas fa-piggy-bank"></i>
                </div>
                <div class="row">
                  <p class="fs-2 text-center">Financiamiento</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container text-center mt-3">
          <div class="row">

            <div class="col">
              <div class="row">
                <i class="fs-1 fas fa-clock"></i>
              </div>
              <div class="row">
                <p class="fs-2 text-center">Entrega</p>
              </div>
            </div>

            <div class="col">
              <div class="row">
                <i class="fs-1 fas fa-check-circle"></i>
              </div>
              <div class="row">
                <p class="fs-2 text-center">Master Plan</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- Fin de botones partes de la propiedad -->


    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

        <p class="fs-4 text-uppercase text-center">Adquiere tu terreno residencial en preventa con el crédito más accesible</p>

      </div>
    </div>
    <!-- Fin del segundo texto -->


    <!-- Inicio del video  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

        <!-- <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://video.wixstatic.com/video/02184b_4c41dad14ca14356b704e45b62d8cc8e/720p/mp4/file.mp4" allowfullscreen></iframe>
        </div> -->

        <!-- <iframe width="560" height="315" src="https://video.wixstatic.com/video/02184b_4c41dad14ca14356b704e45b62d8cc8e/720p/mp4/file.mp4" frameborder="0" allowfullscreen></iframe> -->

        <video width="560" height="315" controls>
          <source src="https://video.wixstatic.com/video/02184b_4c41dad14ca14356b704e45b62d8cc8e/720p/mp4/file.mp4" type="video/mp4">
        </video>

      </div>
    </div>
    <!-- Fin del video -->


    <!-- Inicio del video CON MODAL  -->
    <div class="d-flex justify-content-center">
      <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          VER VIDEO <i class="fas fa-play-circle"></i>
        </button>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <video width="300" height="100" controls>
              <source src="https://video.wixstatic.com/video/02184b_4c41dad14ca14356b704e45b62d8cc8e/720p/mp4/file.mp4" type="video/mp4">
            </video>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin del video CON MODAL  -->


  </div>
