
<div class="container-fluid mt-3">

    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

            <h1 class="text-uppercase text-center"> <strong>tiempo de entrega</strong> </h1>

            <img src="assets/images/logos/cm_peninsula.png" class="img-fluid">

        </div>
    </div>
    <!-- Fin del primer texto -->


    <!-- Inicio de texto 1  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center"> Invierte en PREVENTA y obtén precios preferenciales, facilidades de pago, mayor plusvalía,  mejor ubicación de tu terreno y mejores rendimientos. </p>

        </div>
    </div>
    <!-- Fin de texto 1 -->


    <!-- Inicio de linea del tiempo de entrega  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

            <img src="assets/images/timeline.png" class="img-fluid">

        </div>
    </div>
    <!-- Fin de linea del tiempo de entrega -->


    <!-- Inicio de texto 2  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center"> El tiempo que nos lleva tener listo tu terreno, con urbanización del más alto nivel residencial, es de 36 meses y gracias a tu confianza, te otorgamos este plazo para que pagues tu terreno sin intereses. </p>

            <p class="fw-bold fs-5 text-center mt-5"> Tu asesor te indicará el número de meses sin intereses disponibles y la fecha de entrega aproximada de acuerdo a la etapa en la que compres tu lote. </p>

            <p class="fw-bold fs-5 text-center mt-5"> NOTA: En Mérida contamos con lotes habitacionales que su entrega está programada para mediados de 2022. Pregunta a tu asesor por más detalles. </p>

        </div>
    </div>
    <!-- Fin de texto 2 -->

</div>
