
<div class="container-fluid mt-3">

    <!-- Inicio de logo financiamiento  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

            <img src="assets/images/credito_directo.png" class="img-fluid">

        </div>
      </div>
    <!-- Fin de logo financiamiento -->


    <!-- Inicio de lista de beneficios  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center"> BENEFICIOS </p>

            <ul>

                <li class="fw-bold" type="disc">Sin revisión de Buró de Crédito.</li>

                <li class="fw-bold" type="disc">Sin comprobar ingresos.</li>

                <li class="fw-bold" type="disc">Sin aval.</li>

                <li class="fw-bold" type="disc">Cómodas mensualidades.</li>

                <li class="fw-bold" type="disc">Meses sin intereses.</li>

                <li class="fw-bold" type="disc">Financiamiento hasta por 240 meses.</li>

            </ul>

        </div>
    </div>
    <!-- Fin de lista de beneficios -->


    <!-- Inicio de texto 1  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center"> Hoy en Ciudad Maderas puedes iniciar tu inversión desde el 1% de enganche y bloquear la ubicación del terreno que más te guste con solo <strong>$5,000 pesos</strong>. </p>

            <p class="fs-5 text-center mt-5"> PLANES DE FINANCIAMIENTO PARA LOTES HABITACIONALES </p>

        </div>
    </div>
    <!-- Fin de texto 1 -->


    <!-- Inicio de circulos de financiamiento  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-2 text-center">

            <div class="container text-center">
                <div class="row">

                    <div class="col">
                        <p class="fs-5 text-center mt-5">PLAN 10 % DE ENGANCHE</p>
                    </div>

                    <div class="col">
                        <p class="fs-5 text-center mt-5">PLAN 5 % DE ENGANCHE</p>
                    </div>

                    <div class="col">
                        <p class="fs-5 text-center mt-5">PLAN 1 % DE ENGANCHE</p>
                    </div>

                </div>
              </div>

        </div>
    </div>
    <!-- Fin de circulos de financiamiento -->


    <!-- Inicio de texto 2 y tabla  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center mt-5"> El financiamiento puede ser hasta por 20 años (240 meses). </p>

            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Plazo</th>
                    <th scope="col">Interés</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Año 1 a 3</th>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <th scope="row">Año 4 a 10</th>
                    <td>1%</td>
                  </tr>
                  <tr>
                    <th scope="row">Año 11 a 20</th>
                    <td>1.25%</td>
                  </tr>
                </tbody>
            </table>

            <p class="fs-5 text-center mt-5"> <strong>El interés mensual se calcula sobre saldos insolutos.</strong> </p>

        </div>
    </div>
    <!-- Fin de texto 2 y tabla -->

</div>
