
<div class="container-fluid mt-3">

    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

            <h1 class="mb-5 text-uppercase text-center"> <strong>MASTER PLAN</strong> </h1>

            <img src="assets/images/master_plan/mp_peninsula.png" class="img-fluid">

        </div>
    </div>
    <!-- Fin del primer texto -->

    <!-- Inicio de texto 2  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center mb-5"> CIUDAD MADERAS PRIVADA PENÍNSULA, un proyecto de más de 500 hectáreas, el cual contará con: </p>

            <ul>

                <li class="fs-5 text-center mb-3" type="disc">1 Ancla Comercial (empresa destinada al sector salud, educación o entretenimiento que impulsará el crecimiento económico dentro del propio desarrollo).</li>

                <li class="fs-5 text-center mb-3" type="disc">1 Puerto Maderas.</li>

                <li class="fs-5 text-center mb-3" type="disc">1 Club Acuático.</li>

            </ul>

        </div>
    </div>
    <!-- Fin de texto 2 -->

</div>
