
<div class="container-fluid mt-3">

    <!-- Inicio del primer texto  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 text-center">

        <h1 class="text-uppercase text-center"> <strong>superficies & amenidades</strong> </h1>

        </div>
    </div>
    <!-- Fin del primer texto -->

    <!-- Inicio de los tipos de lote  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <div class="container text-center">
                <div class="row">

                    <div class="col">
                        <p class="fs-5 text-center"> <strong>Lote Residencial</strong> </p>

                        <p>Los Lotes Residencial se encuentran agrupados en condominios o privadas y las superficies van desde los 112 m2 hasta los 300 m2.</p>
                    </div>

                    <div class="col">
                        <img src="assets/images/surfaces_amenities/lote-tipo.png" class="img-fluid">
                    </div>

                </div>
            </div>

            <div class="container text-center mt-5">
                <div class="row">

                    <div class="col">
                        <p class="fs-5 text-center"> <strong>Lote Residencial Premium</strong> </p>

                        <p>Los Lotes Residencial Premium se encuentran agrupados en secciones sobre avenidas principales y las superficies van desde los 140 m2 hasta los 300 m2.</p>
                    </div>

                    <div class="col">
                        <img src="assets/images/surfaces_amenities/lote-tipo.png" class="img-fluid">
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Fin de los tipos de lote -->


    <!-- Inicio de lista puntos de interes  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-5 text-center"> <strong>Los Lotes se entregarán con:</strong> </p>

            <ul>


                <li type="disc">Servicios a pie de lote: luz y agua. (El sistema de drenaje será sustituído por un biodigestor).</li>

                <li type="disc">Instalaciones ocultas.</li>

                <li type="disc">Áreas verdes.</li>

                <li type="disc">Acceso controlado.</li>

                <li type="disc">Barda Perimetral.</li>

                <li type="disc">Calles adoquinadas.</li>

                <li type="disc">Seguridad 24/7.</li>

                <li type="disc">Un desarrollo bajo Régimen de Propiedad en Condominio.</li>

                <li type="disc">Amenidades: 21 FAMILY CLUBES Y 2 CASAS CLUB TRADICIONAL.</li>

            </ul>

        </div>
    </div>
    <!-- Fin de lista puntos de interes -->

    <!-- Inicio de amenidad 1  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-2 text-center text-uppercase"> <strong>Lote Residencial Premium</strong> </p>

            <video width="560" height="315" controls>
                <source src="https://video.wixstatic.com/video/02184b_cd1a427bea314171a586073c69c308d4/360p/mp4/file.mp4" type="video/mp4">
            </video>

        </div>
      </div>
    <!-- Fin de amenidad 1 -->


    <!-- Inicio de amenidad 2  -->
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ml-0 pl-0 mb-3 mt-5 text-center">

            <p class="fs-2 text-center text-uppercase"> <strong>CASA CLUB TRADICIONAL</strong> </p>

            <img src="assets/images/surfaces_amenities/aminitie_2.png" class="img-fluid">

        </div>
      </div>
    <!-- Fin de amenidad 2 -->

</div>